.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_down {
	font-size:(4.8/10)*1rem;
	width:(9/4.8)*1em;
}
.icon-calendar {
	font-size:(12.3/10)*1rem;
	width:(13.3/12.3)*1em;
}
.icon-fb {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-grid {
	font-size:(10/10)*1rem;
	width:(15/10)*1em;
}
.icon-hotel {
	font-size:(23.1/10)*1rem;
	width:(29.9/23.1)*1em;
}
.icon-instagram {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-mark {
	font-size:(15.6/10)*1rem;
	width:(12.3/15.6)*1em;
}
.icon-palm {
	font-size:(26.4/10)*1rem;
	width:(25/26.4)*1em;
}
.icon-plane {
	font-size:(13.6/10)*1rem;
	width:(15.9/13.6)*1em;
}
.icon-search {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-vk {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-x-mark {
	font-size:(17.1/10)*1rem;
	width:(17.1/17.1)*1em;
}
 