<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        .wrap
            include templates/header
            include templates/country_content
            include templates/footer        
        include templates/aside
        include templates/scripts_include