<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        .wrap
            include templates/header  
            include templates/home_content
            include templates/countrys_popup
            include templates/footer        
        include templates/aside
        include templates/scripts_include