include ../common/mixins
main.contacts
    h1.contacts__title Контакты
    ul.contacts__list
        -for(i=4;i;i--)
            li.contacts__item
                h2 Офис на Долгоруковской
                p Телефон:
                p 8-435-775-87-87 (многоканальный)
                p 8-800-100-30-32 бесплатная линия для звонков из регионов
                p &nbsp;
                p Факс:
                p (495) 775-87-87
                p &nbsp;
                p E-mail:
                p info@flyexpress.ru
                p &nbsp;
                p Адрес:
                p 127006, Москва, ул. Долгоруковсая 21, стр. 1. (офис 206), м. &#171;Новослободская&#187;
                a(href="#") На карте
                    +icon('mark')
    h2 Время работы офисов:
    p Понедельник - Пятница с 10:00 до 19:00.
    p Суббота с 11:00 до 17:00.
    p Воскресенье - выходной
    p &nbsp;
    p Наши реквизиты:
    p ООО &#171;Флай Экспресс Тревел&#187;.
    p ИНН 7707342330, КПП 770701001, ОГРН&nbsp;1157746480121, ОКПО 45366879, ОКАТАО 45286585000
    
    include get_form
