.get-form
        h3.get-form__title Заявка на подбор тура
        form(action="/" method="GET").get-form__form
            input(type="text" required name="name" placeholder="Введите имя")
            input(type="tel" required name="tel" placeholder="Номер телефона")
            input(type="email"  name="mail" placeholder="Введите email")
            button Оставить заявку
