.slider
    span.price-label 1379 EUR
    ul.slider__list.owl-carousel
        -for(i=4;i;i--)
            li.slider__item
                img(src="http://lorempixel.com/320/180/city/", alt="Фото города")
.tour
    h1 Тур в Ирландию, Выходные в Дублине на День Св. Патрика
    .tour__data
        span.tour__data-name Вылет
        span.tour__data-val из Москвы
        span.tour__data-name Длительность
        span.tour__data-val 10 дней/9 ночей
        span.tour__data-name Питание
        span.tour__data-val Завтраки
        span.tour__data-name Даты заездов
        span.tour__data-val 24.04, 31.03, 30.01, 01.05, 02.05, 30.01, 01.05, 02.05
        span.tour__data-name 
            span.tour__data-cost 1379 EUR
            span.tour__data-subtext на одного
        span.tour__data-val В зависимости от типа размещения
    a(href="#", title="Забронировать данный Тур").tour__get-button#popup_show Забронировать   
    .tour__desc
        h2 Описание:
        p 
            b 1 день: 
            |Прибытие в Лондон. Трансфер в отель. Размещение. Свободное время.
        p  &nbsp;
        p 
            b 2 день: 
            |Завтрак. Обзорная экскурсия по Лондону с профессиональным гидом.
        p  &nbsp;
        p 
            b 3 день: 
            |Завтрак. Свободное время. Время для дополнительных экскурсий.
        p &nbsp;
        p 
            b 4 день: 
            |Завтрак. Пешеходная экскурсия по историческому центру с внешним осмотром Вестминстерского Аббатства (со времен Вильяма Завоевателя здесь коронуются (в этом красивом готическом здании находится трон королевы и место лорд-канцлера, который является председателем Палаты Лордов), Трафальгарской площади (построена в память о победе Англии над Францией в Трафальгарской битве).
        p &nbsp;
        p 
            b 5-7 день: 
            |Завтрак. Свободное время. Время для дополнительных экскурсий. 
        p &nbsp;
        
        p 
            b 6,7,8 день: 
            |Завтрак. Выписка из отеля до 11:00. Свободное время. Трансфер в аэропорт.
        p &nbsp;
        p Расписание экскурсий может меняться.
        p &nbsp;
        p 
            b Информация о перелёте:
        p &nbsp;
        p 
            b British Airways, Домодедово
        p BA 232 15:45 - 17:55 / BA 237 21:30 - 03:20
        p BA 234 18:10 - 20:20 / BA 237 21:30 - 03:20
        p BA 236 05:45 - 07:55 / BA 237 21:30 - 03:20
        p &nbsp;
        p 
            b Аэрофлот, Шереметьево
        p SU 2570 09:15 - 10:35 / SU 2575 22:30 - 05:05
        p SU 2578 10:55 - 12:15 / SU 2571 11:30 - 18:20
        p SU 2570 09:15 - 10:35 / SU 2579 13:30 - 20:15
        p &nbsp;
        p 
            b Дополнительно:
        p &nbsp;
        p 
            b Стоимость оформления визы:
        p 
            b 125 EURO 
            |- если предоставляется пакет документов с ПЕРЕВОДОМ на английский язык.Образцы переводов основных документов см. в разделе "Визы в Англию".
        p &nbsp;
        p 
            b 135 EURO 
            | - если предоставляется пакет документов БЕЗ ПЕРЕВОДА, перевод на английский язык осуществляется визовым отделом "Флай Экспресс".

    include get_form
include popup
